@model List<Dish>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center p-3">
        <h1 class="mt-4"><a href="/">Chefs</a> | Dishes</h1>
    </div>
    <a href="dishes/new" style="position: fixed; top: 2rem; right: 5rem; border: 0"><u>Add a Dish</u></a>

    <div class="text-center mt-4">
        <h3>Yum, take a look at our tasty dishes!</h3>
    </div>
    <hr>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        @{
                foreach(Dish d in Model){
                    <tr>
                        <td>@d.Name</td>
                        <td>@d.Owner.FirstName @d.Owner.LastName</td>
                        <td>@d.Tastiness</td>
                        <td>@d.Calories</td>
                    </tr>
                }
            }
    </table>
</div>