<div class="row justify-content-around">
    <h2>Welcome to the Dojo Activity Center</h1>
    <h3>Welcome, @ViewBag.loggedIn.Name</h3>
</div>

<table class="table table-bordered mt-2">
    <tr>
        <td>Activity</td>
        <td>Date and Time</td>
        <td>Duration</td>
        <td>Event Coordinator</td>
        <td>No. of Participants</td>
        <td>Actions</td>
    </tr>
    @{
        foreach(Interest i in ViewBag.AllInterests)
        {
            <tr>
                <td><a href="/interest/@i.InterestId">@i.Title</a></td>
                <td>@i.Date</td>
                <td>@i.Duration</td>
                <td>@i.Coordinator.Name</td>
                <td>@i.InterestHistory.Count</td>
                @if(i.Coordinator.Name == ViewBag.loggedIn.Name)
                {
                    <td><a href="delete/@i.InterestId">Delete</a></td>
                } else 
                {
                    <td>
                    <form action="/join" method="POST">
                        <input type="hidden" name="UserId" value="@ViewBag.loggedIn">
                        <input type="hidden" name="InterestId" value="@i.InterestId">
                        <input type="submit" value="Join">
                    </form>
                    </td>
                    @* <td><a href="join/@i.InterestId">Join</a></td> *@
                }
                
            </tr>
        }
    }
    
</table>

<button class="btn btn-outline-primary"><a href="NewTask">Add New Activity</a></button>