
@{
    ViewData["Title"] = "Home Page";
}
<a href="/"><u>Home</u></a>
<div class="text-center">
    <h1 class="display-4 mt-4 mb-4">@ViewBag.Name</h1>
    <h2 class="display-4 mt-4 mb-4">@ViewBag.Chef</h2>
    <hr>
    <p>@ViewBag.Description</p>
</div>

<p><strong>Calories: </strong>@ViewBag.Calories</p>
<br>
<p><strong>Tastiness: </strong>@ViewBag.Tastiness</p>

<div class="row justify-content-around">
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("delete/@ViewBag.DishId", "Home")'" >Delete</button>
</div>


