@model Dish
@{
    ViewData["Title"] = "Home Page";
}
<a href="/"><u>Home</u></a>
<div class="text-center">
    <h1 class="display-4 mt-4 mb-4">@Model.Name</h1>
    <h2 class="display-4 mt-4 mb-4">@Model.Chef</h2>
    <hr>
    <p>@Model.Description</p>
</div>

<p><strong>Calories: </strong>@Model.Calories</p>
<br>
<p><strong>Tastiness: </strong>@Model.Tastiness</p>

<div class="row justify-content-around">
    <a href="/delete/@Model.DishId" class="btn btn-danger">Delete</a>
    <a href="/edit/@Model.DishId" class="btn btn-success">Edit</a>
</div>


